body {
  text-align: center;
  margin: auto;
  padding: 28px 0px 193px;
}

.body-outline-containment {
  border-radius: 10px;
  border: 2px solid lightgrey;
  margin-top: -10px;
  padding: 272px 25px 15px;
}

.form-outline .form-control {
  margin-right: 117px !important;
}

.input-group {
  display: grid !important;
  grid-auto-flow: column !important;
  width: 100% !important;
  margin-top: -241px;
  justify-content: center;
}
.search {
  max-width: 740px;
}

.premade-city-serch {
  margin: auto;
  display: grid;
  grid-auto-flow: column !important;
  /* grid-template-columns: repeat(5, 44px); */
  margin-top: 7px;
  max-width: 318px;
  /* width: 100%; */
  /* justify-content: center; */
  text-align: center;
}

.line-breaker {
  cursor: default;
  text-align: center;
}

.main-panel {
  text-align: center;
  border: 1px solid white;
  margin-top: 45px;
  margin-bottom: 42px;
  padding: 0px 10px;
}

.main-diplay-city {
  position: relative;
  top: -1px;
  left: -118px;
}

.forecast-day {
  margin: 0px 0px;
}

.icon-weather {
  font-size: 81px;
  position: relative;
  top: -38px;
  left: -118px;
}
.side-panel {
  margin-top: -108px;
  margin-left: 3px;
}
ol {
  margin: 0px;
  position: relative;
  top: -31px;
  left: -222px;
  padding: 0px;
}
.the-lower-part-of-the-main-display {
  margin-left: 645px;
  position: relative;
  top: -73px;
  left: -246px;
  padding: 0px;
}
.alt-lower {
  list-style-type: none;
  text-align: left;
}
.alt-upper {
  list-style-type: none;
  text-align: right;
}

.Celeus {
  font-size: 15px;
  position: relative;
  top: -26px;
  left: 0px;
}

.farinhite {
  font-size: 15px;
  position: relative;
  top: -26px;
  left: 0px;
}

.Celeus-farinhite {
  font-size: 15px;
  position: relative;
  top: -27px;
  left: 5px;
}

a {
  color: black;
}
.plus {
  color: var(--mdb-link-hover-color);
}

a:hover {
  color: var(--mdb-link-hover-color);
}

a:active {
  color: var(--mdb-link-hover-color) !important;
}

.clock-calander {
  position: relative;
  left: 1px;
  /*position: relative;
  top: -6px;
  left: 84px;*/
}

.main-temp-panel {
  font-weight: 400;
  font-size: 50px;
  position: relative;
  top: -19px;
  /*position: relative;
  top: -30px;
  left: 86px;*/
}
.the-precipition {
  font-size: 13px;
  /*position: relative;
  top: -20px;
  left: 90px;*/
}

.the-wind {
  font-size: 13px;
  /*position: relative;
  top: -20px;
  left: 87px;*/
}

.the-description {
  text-align: center;
  position: relative;
  top: -157px;
  right: 118px;
}

.mini {
  display: block;
  margin-left: 2px;
  font-size: 17px;
}

.row {
  justify-content: center;
  margin-bottom: 5px;
  margin-left: -35px;
}
/*
.size-for-one {
  margin-left: 10px !important;
}*/
.col-2 {
  display: grid;
  text-align: center;
  justify-content: center;
}

/*.forecast-day {
  position: relative;
  left: -2px;
}*/

.space-for-icon {
  left: -5px;
  margin: 12px 0px 12px 7px;
}
/*
.temp-bottom-panel {
  position: relative;
  left: -3px;
}*/
/*
.forcast-bottom-panel {
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
}*/

/*
.col-1 {
  padding-left: 0px !important;
}
.col-2 {
  padding-right: 0px !important;
}

.size-middle-coloum-adjust {
  position: relative;
  left: -11px;
}

.temp-bottom-panel {
  font-size: 20px;
  font-weight: 400;
} */

.Git-Link {
  color: black;
  padding-left: 18px;
}

.the-link {
  text-decoration: underline;
}
